@import "tailwindcss";

:root {
  --lake-blue: #1E3A8A;
  --ethiopian-gold: #D4A017;
  --nature-green: #166534;
  --warm-white: #F9FAFB;
  --soft-gray: #6B7280;
  --dark-gray: #111827;
}

body {
  font-family: var(--font-roboto), sans-serif;
}

.font-playfair {
  font-family: var(--font-playfair), serif;
}